<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Fonte padrão do MudBlazor -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <!-- CSS do MudBlazor -->
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet">

    <!-- Estilos do projeto -->
    <link rel="stylesheet" href="FluxoVeicular.Web.styles.css" />

    <HeadOutlet />
</head>

<body>
    <Routes />

    <!-- JS do MudBlazor -->
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <!-- Blazor runtime -->
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
